node_modules/
dist/
coverage/
*.log
.DS_Store
__pycache__/
.history/

# Gradle & Java
.gradle/
build/
bin/
out/
*.class
*.jar
!**/gradle/wrapper/gradle-wrapper.jar
gradle.properties
*.gpg
*.asc
*.key

